@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0b1354;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

header .logo {
  position: relative;
  color: #fff;
  font-size: 28px;
  text-decoration: none;
  font-weight: 600;
}

header nav {
  position: relative;
}

header nav ul {
  position: relative;
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #ff0083;
}

section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 0 100px;
}

section .contentB {
  position: relative;
  max-width: 600px;
  z-index: 1000;
}

section .contentB H2 {
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
}

section .contentB p {
  font-size: 18px;
  color: #fff;
}

section .contentB .coutdown {
  display: flex;
  margin: 20px 0;
}

section .contentB .coutdown .time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  margin-right: 20px;
  font-size: 48px;
  min-width: 110px;
  font-weight: 700;
  padding: 10px 5px 15px;
  border-radius: 4px;
  color: #ff0083;
}

section .contentB .coutdown .time span {
  margin-top: -10px;
  font-size: 20px;
  font-weight: 600;
  color: #0b1354;
}

section .contentB a {
  position: relative;
  margin-top: 10px;
  display: inline-block;
  background: #ff0083;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 15px 35px;
  text-decoration: none;
  border-radius: 40px;
}

section .imgBx img {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin-top: 100px;
  z-index: 1;
}

.wave {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;
}

section .sci {
  position: absolute;
  bottom: 40px;
  left: 100px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: invert(1);
}

section .sci li {
  list-style: none;
}

section .sci li a {
  margin-right: 20px;
  transform: scale(0.8);
}

.popUp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 60px;
  background: #fff;
  z-index: 1000;
  box-shadow: 0 0 0 100vh rgba(49, 39, 71, 0.95);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.popUp.active {
  visibility: visible;
  opacity: 1;
}

.popUp h2 {
  font-size: 48px;
  color: #312747;
}
.popUp p {
  font-size: 20px;
  color: #312747;
}

.popUp .inputBox {
  margin-top: 20px;
}

.popUp .inputBox input {
  padding: 10px;
  outline: none;
  width: 300px;
  font-size: 18px;
  border: 1px solid #0b1354;
}

.popUp .inputBox input[type="submit"] {
  padding: 10px;
  outline: none;
  width: 140px;
  color: #fff;
  background: #ff0083;
  border: 1px solid #ff0083;
  letter-spacing: 2px;
  box-sizing: border-box;
  cursor: pointer;
}

.popUp .close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

@media (max-width: 991px) {
  section {
    flex-direction: column;
    padding-top: 150px;
    height: auto;
  }
  section .contentB {
    max-width: 100%;
  }
  section .imgBx .img {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  header {
    padding: 20px 50px;
  }
  section {
    flex-direction: column;
    padding: 120px 20px 50px;
    height: auto;
  }
  section .contentB h2 {
    font-size: 40px;
  }
  section .contentB p {
    font-size: 16px;
  }
  section .contentB .coutdown .time {
    font-size: 30px;
    min-width: 70px;
    margin-right: 5px;
  }
  section .contentB .coutdown .time span {
    font-size: 14px;
  }
  section .contentB a {
    position: relative;
    margin-top: 10px;
    display: inline-block;
    background: #fff;
    color: #ff0083;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 40px;
  }
  section .sci {
    left: 50px;
  }
  .popUp {
    width: 90%;
    padding: 30px;
  }
  .popUp .inputBox input[type="submit"] {
    margin-top: 10px;
    width: 100%;
  }
}
